{% extends "base.html" %}

{% block content %}
<div class="px-4 py-5 text-center">
    <h1>SQLI 0</h1>
    <h5 class="text-white">My Super Secure Web App</h5>
</div>

<div>
    <div class="form-signin">
        <form method="POST" action="login">
            <h2 class="h3 mb-3 fw-normal text-center text-capitalize">Please sign in</h2>
            <div class="mb-3">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
            </div>
            <button class="w-100 btn btn-lg btn-dark" type="submit">Log In</button>
            <div class="alert alert-danger" role="alert">
            {{error}}
            </div>
        </form>
    </div>
</div>
{% endblock %}
