{% extends "base.html" %}

{% block content %}
<nav class="navbar fixed-top navbar-text bg-transparent">
    <div class="container-fluid d-flex justify-content-end">
        <li class="nav-item dropdown me-4">
            <a class="btn btn-lg btn-outline-info dropdown-toggle me-4" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" href="#">Hello, {{name}}</a>
            <ul class="dropdown-menu dropdown-menu-start mt-1 ms-4 dropdown-menu-dark"
                aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="/">Send Message</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/messages">Read Messages</a>
                </li>
                <li>
                    <form name="myform" action="messages" method="POST">
                        <button class="dropdown-item btn " type="submit">Clear Messages</button>
                    </form>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
            </ul>
        </li>
    </div>
</nav>
{% block below_nav %}
{% endblock %}

{% endblock %}
